$header-height: 80px;
$def-purple: #530080;
$def-gray: #d8d8d8;

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  background-color: $def-gray;
  overflow: auto;
  overflow-x: hidden;
}

body, p, h1, h2, ul, li, a {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  text-align: center;
  padding: 0;
  height: $header-height;
  border-bottom: 2px solid $def-purple;

  .logo {
    position: absolute;
    top: 5%;
    left: 10px;
    height: 90%;
    line-height: $header-height;
    border-radius: 4px;
  }

  ul {
    display: inline-block;
    list-style: none;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: center;

    li {      
      a {
        display: block;
        font-size: 40px;
        text-decoration: none;
        text-transform: uppercase;
        color: $def-gray;
        background: $def-purple;
        height: 60px;
        line-height: 60px;
        width: 60px;
        padding: 3px;
        margin: 2px;
        transition: background 0.3s ease;
        text-align: center;
        border-radius: 4px;

        &:hover {
          background: lighten($def-purple, 5%);
        }

        &.active {
          background: lighten($def-purple, 10%);
        }
      }
    }
  }
}

#main {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 15px;
  overflow: auto;

  .names {
    color: $def-purple;
    background: none;
  }

  .maintext {
    padding: 50px;
  }
}