$header-height: 80px;
$def-purple: #750875;
$def-gray: #d8d8d8;

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  background-color: $def-gray;
  overflow: auto;
  overflow-x: hidden;
}

body, p, h1, h2 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  padding: 0;
  height: $header-height;
  width: 100%; 
  border-bottom: 2px solid $def-purple;

  #title {
    font-size: 48px;
    color: $def-purple;
    text-align: center;
    letter-spacing: 3px;
    line-height: $header-height;
  }
}

#main {
  text-align: center;
  padding: 15px;

  .logo {
    display: inline-block;
    align: center;
    width: 50%;
  }

  .names {
    color: $def-purple;
    background: none;
  }

  .maintext {
    padding: 50px;
  }
}